@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

:root {

	--black: #000000;
	--white: #ffffff;
	--red: #F54049;
	--dark_red: #360003;
	--green: #92C325;
	--dark_green: #394D10;
	--blue: #1D8DDD;
	--dark_blue: #0D1829;
	--purple: #9F59D9;
	--dark_purple : #49004D;
	--orange: #FF9500;
	--dark_orange: #593A00;
	--black: #000000;
}


body{
	background: var(--dark_blue);
	font-family: Inter;
	font-weight: 700;
	padding: 1px 0px;
	margin: 0px;

}

h1{	
	color: white;
	font-size: 30px;
	font-weight: 900;
	margin: 0px;
}

h2{	
	font-size: 25px;
	color: var(--blue);
	font-weight: 500;
	margin: 0px;
}

h3{
	font-size: 20px;
	color: var(--red);
	font-weight: 700;
	margin: 0;
}

h5{	
	color: white;
	font-size: 20px;
	font-weight: 700;
	margin: 0;
	line-height: 2;
}

input{
    border-radius: 0px;
	border: none;
	font-family: "Inter";
	font-weight: 700;
	font-size: 18px;
	width: 50px;
	margin-right: 10px;
}

select{
	border-radius: 0px;
	border: none;
	font-family: "Inter";
	font-weight: 700;
	font-size: 18px;
}

button{
	padding: 10px;
	background-color: var(--red);
	color: white;
	font-family: "Inter";
	font-weight: 800;
	border-radius: 0px;
	border: none;
}

.img_logo{
	width: 180px;
	padding: 20px 0;
}

.logo_background{
	position: absolute;
	top: 60%;
	right: 5%;
}

#img_vertical_log{
	width: 100px;
}

.container{
	margin: 0 20px;
	padding-top: 25px; 
	padding-bottom: 25px;
	border-bottom: 1px solid var(--white);
}

.block_set{
	margin-top: 20px;
	display: block;
  	transition: 0.3s;
}

#free_size{
	margin-top: 10px;
	margin-bottom: 0px;
	display: none;

}
.unit{
	 margin-left:-8px;
	 margin-right:8px;

}

.button{
	margin: 0;
  	position: relative;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	margin-top: 80px;
	width: auto;
}

#create_btn{
	background-color: var(--red);
}

#create_btn:hover {
	background-color: var(--dark_red);
}

#download_btn{
	background-color: var(--purple);
}

#download_btn:hover{
	background-color: var(--dark_purple);
}
	
.command_box{
	height: 100%;
	width: 300px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: var(--black);
	overflow-x: hidden;
  	transition: 0.5s;
  	padding: 0px;
}

.command_box .closebtn {
  position: absolute;
  top: 5;
  right: 25px;
  font-size: 35px;
  margin-left: 50px;
  padding: 0px;
  color: var(--white);
  cursor: pointer;
}



.container_canvas{
	display: block;
	height: 100vh;
	position: relative;
}


#world-1{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	display: inline-block;
}

/*RADIO BUTTON*/

#color_select{
	margin-top: 10px;
	margin-left: 10%;
	}


.radio_container {
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
/*  font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #fff;
}

#radio_all{
	background-image: url(img/colorall_icon.png);
}

#radio_purple{
	background-color: var(--purple)
}

#radio_green{
	background-color: var(--green)
}

#radio_red{
	background-color: var(--red)
}

#radio_orange{
	background-color: var(--orange)
}

/* On mouse-over, add a grey background color */
/*.container:hover input ~ .checkmark {
  background-color: #ccc;
}*/

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: -3px;
	left: -3px;
	width: 30px;
	height: 30px;
    color: var(--blue);
	border: solid;

}

#setting_svg{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    position: absolute;
	padding: 10px;
	fill: var(--red);
	width: 25px;
	z-index: 1;
	cursor:pointer;

	display: none;

}

#setting_svg:hover{
	fill: var(--dark_red)
}